# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include manta-m8p-stm32h723-canbus.cfg]
[include ebb-sb-rp2040-canbus.cfg]
#[include cartographer-3d-stm32f042-usb.cfg]

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 5.0

[include moonraker_obico_macros.cfg]
#[include printer_macros.cfg]
[include printer_backup.cfg]
#[include fan_tach_monitor.cfg]